---
import Footer from "../components/Footer.astro";
import HeroImage from "../components/HeroImage.astro";
import Layout from "../layouts/Layout.astro";
import AboutImage from "../assets/about/about.jpg";
import DATA from "src/consts";

const image = {
  src: AboutImage,
  alt: "",
  height: "1000",
  class: "darken",
};

const currentYear = new Date().getFullYear();

const site = DATA.site;
const aboutPage = DATA.pages.about;
---

<Layout description={aboutPage.description}>
  <main data-barba="container" data-barba-namespace="opacity-transition">
    <article>
      <div
        class="hero-image__wrapper line line-top line-bottom--after"
        data-slide
        style="--timing-offset: 0;"
      >
        <div class="hero-image__container conjoined-height-grid__element">
          <HeroImage image={image} noEvents />
        </div>
        <div class="hero-image__deco">
          <div class="hero-image__text hero-image__hi display-1">
            {aboutPage.header.display}
          </div>
          <div class="hero-image__content visible-large">
            <h2 class="hero-image__title h5">{aboutPage.header.title}</h2>
            <p class="hero-image__text">
              {aboutPage.header.text}
            </p>
          </div>
          <div class="hero-image__info">
            <a
              href={`tel:${site.contact.phone.replaceAll(" ", "")}`}
              class="info__phone">{site.contact.phone}</a
            >
            <a href={`mailto:${site.contact.mail}`} class="info__mail"
              >{site.contact.mail}</a
            >
          </div>
        </div>
      </div>
      <div class="prose">
        <div
          class="hero-image__content visible-small"
          data-slide
          style="--timing-offset: 1;"
        >
          <h2 class="hero-image__title h5">{aboutPage.header.title}</h2>
          <p class="hero-image__text">
            {aboutPage.header.text}
          </p>
        </div>
        <slot/>
        <!-- <div data-slide style="--timing-offset: 2;">
          <h2 class="h5">LET’S DO THE STUFF</h2>
          <p>
            As a kid, I was fascinated by the 3D graphics in “Toy Story.” This
            is how my adventure in exploring the world of graphics began.
            <br />
            I'm an Apple fan. I know that simplification is the most difficult process
            in design. But it makes it a lot of fun!
          </p>
        </div> -->

        <div class="footer__wrapper" data-slide style="--timing-offset: 3;">
          <Footer />
        </div>

        <hr data-slide style="--timing-offset: 3;" />

        <div data-slide style="--timing-offset: 4;">
          <h2 class="h5">SOFTWARE</h2>
          <p>
            Blender, Unreal Engine, Fusion 360, RizomUV, Substance Painter,
            Photoshop, Illustrator, After Effects, Apple Motion, Final Cut Pro,
            Figma
          </p>
          <br />
          <br />
          <small>
            Copyright &copy; {currentYear} Madejski Media. All Rights Reserved
          </small>
        </div>
      </div>
    </article>
  </main>
</Layout>
