---
import type { Props as BaseBlogGridTileProps } from "./BaseBlogGridTile.astro";
import BaseBlogGridTile from "./BaseBlogGridTile.astro";

interface Props extends BaseBlogGridTileProps {
  title: string;
  date: string;
  text: string;
  index?: number;
}

const { gridPosition, title, date, text, index } = Astro.props;
---

<BaseBlogGridTile gridPosition={gridPosition} index={index}>
  <div class="base-blog-head__tile">
    <div class="head">
      <h1 class="title display-1">
        {title}
      </h1>
      <div class="date">{date}</div>
      <p class="text">{text}</p>
    </div>
  </div>
</BaseBlogGridTile>
