---
import FormattedDate from "../components/FormattedDate.astro";
import ImageVideoSwitch from "../components/ImageVideoSwitch.astro";

interface ThubmnailVideo {
  src?: string;
}

interface Props {
  slug: string;
  image: unknown;
  title: string;
  date: Date;
  description: string;
  video?: ThubmnailVideo;
}

const { slug, image, title, date, description, video } = Astro.props;
---

<a href={`/blog/${slug}`} class="project-thumbnail">
  <div class="project-thumbnail__body" style="opacity: 0">
    {title && <h3 class="project-thumbnail__title display-2">{title}</h3>}
    <div class="project-thumbnail__separator"></div>
    {date && <div class="project-thumbnail__date">
      <FormattedDate date={date} />
    </div>}
    {description && <div class="project-thumbnail__description">{description}</div>}
  </div>
  {(video || image) && <div class="project-thumbnail__wrapper">
    <ImageVideoSwitch
      video={video}
      image={{ src: image, class: "square" }}
      />
  </div>}
</a>
