---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/index.scss";
// import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/navbar/Navbar.astro";
import Loader from "../components/Loader.astro";
import { SITE_TITLE } from "../consts";

interface Props {
  title?: string;
  description: string;
  image?: string;
  navbar?: boolean;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = SITE_TITLE,
  description,
  image = "/assets/images/mikolaj_madejski.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <!-- <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin /> -->

    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <title>{title}</title>
    <!-- <ViewTransitions /> -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script> -->
    <!-- <script is:inline src="https://unpkg.com/@barba/core"></script> -->
  </head>
  <body data-barba="wrapper" class="loading">
    <Loader />
    <div class="cursor"></div>

    <Navbar />
    <slot />

    <script>
      import useCursor from "../scripts/Cursor";
      import useHref from "../scripts/HandleHref";
      // import useLoader from "../scripts/Loader";
      import useBarba from "../scripts/Barba";
      import useImageVideoSwitch from "../scripts/ImageVideoSwitch";
      import useHeroImage from "../scripts/HeroImage";
      import useProjectList from "../scripts/ProjectList";

      const {
        barba,
        barbaInit,
        before: barbaBefore,
        after: barbaAfter,
      } = useBarba();

      const { initHref } = useHref();
      const { initCursor } = useCursor();
      const { lottieAnimationsInit } = useHeroImage();

      barbaInit();

      barbaBefore(() => {
        barba.wrapper.classList.add("is-animating");
        useProjectList();
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth",
        });
        lottieAnimationsInit();
      });
      barbaAfter(() => {
        barba.wrapper.classList.remove("is-animating");
        initHref();
        useImageVideoSwitch();
      });

      initHref();
      useImageVideoSwitch();
      lottieAnimationsInit();
      useProjectList()

      initCursor();
    </script>
  </body>
</html>
